# Local environment variables (API Keys)
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Mac OS junk files (if you are on a Mac)
.DS_Store

# Virtual environments (if you ever build one inside the repo)
venv/
env/
.conda/

# Jupyter Notebook checkpoints (if you use them)
.ipynb_checkpoints/